@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Fira Sans Condensed', sans-serif;

}
#root{
  width: 100%;
  height: 100vh;
}
.App{
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1500px;
  padding: 3rem;
}
li{
  list-style: none;
}
.nav{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav h1{
  font-size: 3rem;
}
.btn{
  background-color: #555A88;
  border: none;
}
.form-container{
  width: 100%;
    height: 100%;
    background-color: rgba(144, 140, 140, 0.658);
    position: fixed;
    z-index: 11;
    transition: top .3s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardForm{
  width: 350px;
  height: 530px;
  background-color: white;
  padding: 1rem;
}
.cardForm-nav{
  display: flex;
  justify-content: space-between;
}
.cardForm-nav button{
  background-color: transparent;
  width: 50px;
  height: 50px;
  border: none;
}
.cardForm-nav h1{
  color: #0F0F2D;
}
.formUser{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.div-input{
  display: flex;
  flex-direction: column;
}
.div-input input{
  height: 30px;
  padding: 1rem;
}
.div-input input:hover{
  border: 2px solid #555A88;
}
.btns{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.btn-create{
  padding: .6rem;
  color: white;
  width: 150px;
  height: 40px;
}
.btn-submit{
  width: 100%;
  height: 35px;
  color: white;
  box-shadow: 0px 11px 15px -3px rgba(0,0,0,0.5);
}
.users-container{
  width: 100%;
}
.users-container ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.list-user{
  border: 1px solid #E5E5E5;
  padding: 1rem;
  width: 330px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
hr{
  color: #E5E5E5;
}
.list-user h3{
  font-size: 1.5rem;
}
.list-user p span{
  font-size: 0.8rem;
    font-weight: 300;
}
.btn-user{
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: .8rem;
}
.btn-user button{
  width: 35px;
  height: 35px;
}
.btn-user button:nth-child(1){
  background-color: #D85D5D;
  color: white;
  border: 1px solid #D93F3F;
}
.btn-user button:nth-child(2){
  background-color: #F6F6F6;
  border: 1px solid #BDBDBD;
  color: #BDBDBD;
}
@media screen and (max-width: 700px) {
  .users-container ul{
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
}